name: Reusable image build workflow with options to push to ECR or GitHub Registry
on:
  workflow_call:
    inputs:
      artifactName:
        required: false
        description: If provided, downloads a previously uploaded artifact (has to be in the same workflow). Both artifactPath and artifactName have to be passed.
        default: ""
        type: string
      artifactPath:
        required: false
        description: If provided, downloads a previously uploaded artifact (has to be in the same workflow). Both artifactPath and artifactName have to be passed.
        default: ""
        type: string
      imageTargets:
        required: false
        description: If provided, sets targets for as many image builds as targets specified
        default: ""
        type: string
      preScript:
        required: false
        description: If provided, runs a script after repo checkout and before the docker image is built. Useful in case that you need to build a package outside of the docker image (and load the artifacts via copy).
        default: ""
        type: string
      enableContainerScan:
        required: false
        description: Apply the container scan
        default: true
        type: boolean
      runner:
        required: false
        description: Runner type
        default: ubuntu-latest
        type: string
      version:
        required: true
        type: string

env:
  IMAGE_SCAN_SEVERITY: LOW
  IMAGE_SCAN_SEVERITY_THRESHOLD: CRITICAL
  IMAGE_SCAN_ANNOTATIONS: true
  IMAGE_SCAN_TRIVY_TIMEOUT: 10m

jobs:
  build-ecr-single:
    if: inputs.imageTargets == ''
    permissions:
      id-token: write
      contents: read
    environment: ${{ github.event.deployment.payload.env }}
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Checkout current git repository
        uses: actions/checkout@v4
      - if: inputs.preScript != ''
        name: Run script before the docker image is built
        run: |
          echo "Run '${{ inputs.preScript }}'"
          ${{ inputs.preScript }}
        env:
          NPM_GITHUB_TOKEN: ${{ secrets.npmGithubReadToken }}
      - if: inputs.artifactPath != '' && inputs.artifactName != ''
        name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifactName }}
          path: ${{ inputs.artifactPath }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: eu-central-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      - name: Create ECR repository if it doesn't exist
        run: |
          if ! aws ecr describe-repositories --repository-names ${{ github.event.deployment.payload.name }} 2>/dev/null; then
            echo "Repository ${{ github.event.deployment.payload.name }} does not exist, creating it..."
            aws ecr create-repository --repository-name ${{ github.event.deployment.payload.name }}
            echo "Setting lifecycle policy..."
          else
            echo "Repository ${{ github.event.deployment.payload.name }} already exists, skipping creation"
          fi

          echo "Applying lifecycle policies"
          LIFECYCLE_POLICY='{"rules":[
              {"rulePriority":1,"description":"Preserve preview images","selection":{"tagStatus":"tagged","tagPatternList":["preview-*"],"countType":"sinceImagePushed","countNumber":365},"action":{"type":"expire"}},
              {"rulePriority":2,"description":"Preserve production images","selection":{"tagStatus":"tagged","tagPatternList":["v*"],"countType":"imageCountMoreThan","countNumber":50},"action":{"type":"expire"}}
              {"rulePriority":3,"description":"Remove untagged images","selection":{"tagStatus":"untagged","countType":"sinceImagePushed","countNumber":7},"action":{"type":"expire"}}
            ]}'
          aws ecr put-lifecycle-policy --repository-name ${{ github.event.deployment.payload.name }} --lifecycle-policy-text "$LIFECYCLE_POLICY"
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          build-args: |
            GITHUB_SHA=${{ github.sha }}
            VERSION=${{ inputs.version }}
            APP_NAME=${{ github.event.deployment.payload.name }}
            ENVIRONMENT=${{ github.event.deployment.payload.env }}
            NPM_GITHUB_TOKEN=${{ secrets.npmGithubReadToken }}
          cache-from: type=registry,ref=${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}:cache
          cache-to: mode=max,image-manifest=true,oci-mediatypes=true,type=registry,ref=${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}:cache
          context: ${{ github.event.deployment.payload.container.context }}
          load: true
          file: ${{ github.event.deployment.payload.container.file }}
          platforms: linux/amd64
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}:latest
            ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}:${{ inputs.version }}
            ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}:${{ github.sha }}
      - name: Scan for vulnerabilities
        if: inputs.enableContainerScan
        uses: crazy-max/ghaction-container-scan@v3
        with:
          image: ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}:latest
          dockerfile: Containerfile
          severity: ${{ env.IMAGE_SCAN_SEVERITY }}
          severity_threshold: ${{ env.IMAGE_SCAN_SEVERITY_THRESHOLD }}
          annotations: ${{ env.IMAGE_SCAN_ANNOTATIONS }}
        env:
          TRIVY_TIMEOUT: ${{ env.IMAGE_SCAN_TRIVY_TIMEOUT }}
      - name: Push image to ECR
        run: |
          docker push -a ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}

  build-ecr-matrix:
    if: inputs.imageTargets != ''
    permissions:
      id-token: write
      contents: read
    environment: ${{ github.event.deployment.payload.env }}
    runs-on: ${{ inputs.runner }}
    strategy:
      matrix:
        containerfile_targets: ${{ fromJson(inputs.imageTargets) }}
    steps:
      - name: Checkout current git repository
        uses: actions/checkout@v4
      - if: inputs.preScript != ''
        name: Run script before the docker image is built
        run: |
          echo "Run '${{ inputs.preScript }}'"
          ${{ inputs.preScript }}
        env:
          NPM_GITHUB_TOKEN: ${{ secrets.npmGithubReadToken }}
      - if: inputs.artifactPath != '' && inputs.artifactName != ''
        name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifactName }}
          path: ${{ inputs.artifactPath }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: eu-central-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      - name: Create ${{ matrix.containerfile_targets }} ECR repository if it doesn't exist
        run: |
          if ! aws ecr describe-repositories --repository-names ${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }} 2>/dev/null; then
            echo "Repository ${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }} does not exist, creating it..."
            aws ecr create-repository --repository-name ${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }}
            echo "Setting lifecycle policy..."
          else
            echo "Repository ${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }} already exists, skipping creation"
          fi

          echo "Applying lifecycle policies"
          LIFECYCLE_POLICY='{"rules":[
              {"rulePriority":1,"description":"Preserve preview images","selection":{"tagStatus":"tagged","tagPatternList":["preview-*"],"countType":"sinceImagePushed","countNumber":365},"action":{"type":"expire"}},
              {"rulePriority":2,"description":"Preserve production images","selection":{"tagStatus":"tagged","tagPatternList":["v*"],"countType":"imageCountMoreThan","countNumber":50},"action":{"type":"expire"}}
              {"rulePriority":3,"description":"Remove untagged images","selection":{"tagStatus":"untagged","countType":"sinceImagePushed","countNumber":7},"action":{"type":"expire"}}
            ]}'
          aws ecr put-lifecycle-policy --repository-name ${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }} --lifecycle-policy-text "$LIFECYCLE_POLICY"
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build ${{ matrix.containerfile_targets }} image
        uses: docker/build-push-action@v6
        with:
          build-args: |
            GITHUB_SHA=${{ github.sha }}
            VERSION=${{ inputs.version }}
            APP_NAME=${{ github.event.deployment.payload.name }}
            ENVIRONMENT=${{ github.event.deployment.payload.env }}
            NPM_GITHUB_TOKEN=${{ secrets.npmGithubReadToken }}
          cache-from: type=registry,ref=${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}:cache
          cache-to: mode=max,image-manifest=true,oci-mediatypes=true,type=registry,ref=${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}:cache
          context: ${{ github.event.deployment.payload.container.context }}
          load: true
          file: ${{ github.event.deployment.payload.container.file }}
          platforms: linux/amd64
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }}:latest
            ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }}:${{ inputs.version }}
            ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }}:${{ github.sha }}
          target: ${{ matrix.containerfile_targets }}
      - name: Scan for vulnerabilities
        if: inputs.enableContainerScan
        uses: crazy-max/ghaction-container-scan@v3
        with:
          image: ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }}:latest
          dockerfile: Containerfile
          severity: ${{ env.IMAGE_SCAN_SEVERITY }}
          severity_threshold: ${{ env.IMAGE_SCAN_SEVERITY_THRESHOLD }}
          annotations: ${{ env.IMAGE_SCAN_ANNOTATIONS }}
        env:
          TRIVY_TIMEOUT: ${{ env.IMAGE_SCAN_TRIVY_TIMEOUT }}
      - name: Push ${{ matrix.containerfile_targets }} image to ECR
        run: |
          docker push -a ${{ steps.login-ecr.outputs.registry }}/${{ github.event.deployment.payload.name }}-${{ matrix.containerfile_targets }}
