name: PR
on:
  pull_request:
    types:
      - opened
      - edited
      - ready_for_review
      - reopened
      - synchronize
jobs:
  pr:
    uses: parcelLab/ci/.github/workflows/pr.yaml@main
    secrets:
      repoAccessToken: ${{ secrets.GITHUB_TOKEN }}
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current git repository
        uses: actions/checkout@v3
      - name: Set up go environment
        uses: actions/setup-go@v3
      - name: Install actionlint
        run: go install github.com/rhysd/actionlint/cmd/actionlint@v1.6.23
      - name: Run actionlint
        run: /home/runner/go/bin/actionlint
  yamllint:
    uses: parcelLab/ci/.github/workflows/yaml.yaml@main
