name: Build and push image from the PR to ECR

on:
  workflow_call:
    inputs:
      APPLICATION_NAME:
        description: The name of the application
        required: true
        type: string
      PR_NUMBER:
        description: Number of the current PR
        required: true
        type: number
      GHA_TRIGGER_EVENT:
        description: GitHub PR event that triggered the workflow
        required: true
        type: string
      artifactName:
        required: false
        description: If provided, downloads a previously uploaded artifact (has to be in the same workflow). Both artifactPath and artifactName have to be passed.
        default: ""
        type: string
      artifactPath:
        required: false
        description: If provided, downloads a previously uploaded artifact (has to be in the same workflow). Both artifactPath and artifactName have to be passed.
        default: ""
        type: string
    secrets:
      AWS_ROLE_TO_ASSUME:
        required: true
        description: AWS OIDC role for GitHub to assume

jobs:
  build-and-push-image-to-ecr:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current git repository
        uses: actions/checkout@v3
      - name: Download build artifact
        if: inputs.artifactPath != '' && inputs.artifactName != ''
        uses: actions/download-artifact@v4
        with:
          path: ${{ inputs.artifactPath }}
          name: ${{ inputs.artifactName }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: eu-central-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      - name: Create ECR repository if it doesn't exist
        run: |
          if ! aws ecr describe-repositories --repository-names ${{ inputs.APPLICATION_NAME }} 2>/dev/null; then
            echo "Repository ${{ inputs.APPLICATION_NAME }} does not exist, creating it..."
            aws ecr create-repository --repository-name ${{ inputs.APPLICATION_NAME }}
            echo "Setting lifecycle policy..."
          else
            echo "Repository ${{ inputs.APPLICATION_NAME }} already exists, skipping creation"
          fi

          echo "Applying lifecycle policies"
          LIFECYCLE_POLICY='{"rules":[
              {"rulePriority":1,"description":"Preserve preview images","selection":{"tagStatus":"tagged","tagPatternList":["preview-*"],"countType":"sinceImagePushed","countUnit":"days","countNumber":365},"action":{"type":"expire"}},
              {"rulePriority":2,"description":"Preserve production images","selection":{"tagStatus":"tagged","tagPatternList":["v*"],"countType":"imageCountMoreThan","countNumber":50},"action":{"type":"expire"}},
              {"rulePriority":3,"description":"Remove untagged images","selection":{"tagStatus":"untagged","countType":"sinceImagePushed","countUnit":"days","countNumber":7},"action":{"type":"expire"}}
            ]}'
          aws ecr put-lifecycle-policy --repository-name ${{ inputs.APPLICATION_NAME }} --lifecycle-policy-text "$LIFECYCLE_POLICY"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build and push to repository
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Containerfile
          platforms: linux/amd64
          provenance: false
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ inputs.APPLICATION_NAME }}:preview-${{ github.event.pull_request.number }}
            ${{ steps.login-ecr.outputs.registry }}/${{ inputs.APPLICATION_NAME }}:${{ github.event.pull_request.head.sha }}
  comment-pr:
    if: ${{ inputs.GHA_TRIGGER_EVENT != 'synchronize' }}
    runs-on: ubuntu-latest
    steps:
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            Preview URL: https://${{ inputs.APPLICATION_NAME }}-preview-${{ inputs.PR_NUMBER }}.staging.parcellab.dev
            Preview Argo App: https://argocd.staging.parcellab.dev/applications/argocd/${{ inputs.APPLICATION_NAME }}-preview-${{ inputs.PR_NUMBER }}
